/*---DEFAULT--*/

	* {margin: 0px; padding: 0px;}	
	* html li {vertical-align: bottom;}	
	* html img {vertical-align: middle;}	
	* html input {vertical-align: middle;}	
	body {font-family: Arial, Helvetica, sans-serif;font-size:11px;	color:#6b6664; text-align:center; background:#efeeed url(images/bg_one.png) repeat-x top;}
	input {border: 0px;}	
	img {border: 0px;}	
	ul {padding: 0px; margin: 0px;}	
	li {padding: 0px; margin: 0px; list-style: none;}	
	* html li {vertical-align: bottom;}	
	a {color:#575757; text-decoration: none;}	
	a:hover {color: #333333; text-decoration: none;}	
	p {margin: 0px; padding: 0px;}	
	.clear {clear: both; height:0px; display:block; font-size:0px;}	
	.left {float: left;}	
	.right {float: right;}
	
	h1{color:#4d4d4d; font-size:29px; font-family: "Myriad Pro"; }
	h2{color:#c53705; font-size:14px; padding-bottom:15px;}
	h3{ color:#fbfbfb; font-size:14px; padding-left:15px;}
	h4{ background:url(images/valid1.png) no-repeat left top; padding-left:24px; font-size:12px; line-height:14px; color:#029300; padding-bottom:5px;}
	h5{ font-size:12px; line-height:14px; color:#db2900;  }
	h6{  font-size:12px; line-height:14px; color:#9c1d00; padding-bottom:5px; padding-left:20px; }
	
/**************************************************Corner**********************************************/

.round-block-gra{ width:905px; margin:20px auto; text-align:left;  }/*width removable*/
     	.round-gra-t{ height:34px; background: url(images/gra-mid.png) top repeat-x; line-height:34px; }
		.round-gra-t div{ height:34px;background:url(images/gra-t-l.png) no-repeat top left; }
		.round-gra-t div div{ height:34px; background:url(images/gra-t-r.png)  no-repeat  top right;}
		.round-gra-b{ height:7px; background: url(images/gra-mid-b.png)  top repeat-x;}
		.round-gra-b div{ height:7px; background: url(images/gra-b-l.png)  no-repeat top left;}
		.round-gra-b div div{ height:7px; background:url(images/gra-b-r.png) no-repeat  top right;}
		.block-conten-gra{ border-left:#b9bea7 2px solid;  border-right:#b9bea7 2px solid; background:#dce1d3 url(images/bg_box.png) repeat-x top; padding:10px;  }
	    .head-title{color:#28a127; font-size:16px; padding-bottom:15px;}
		
		
/*******************************************INNER****************************************************/
   #wrapper{ width:100%; margin:auto; text-align:left; clear:both;}
   #header{ width:100%; margin:auto; clear:both; background:url(images/header-bg.png) repeat-x top; }
    .branding{ width:940px; margin:auto; background:url(images/header-center-bg.png) no-repeat center; height:129px;}
      
		    .logo a{ width:200px; padding-top:45px; height:84px; float:left;  background:url(images/logo-bg.png) no-repeat center; text-align:center; }
			.panel{ color:#679b00;}
			
			.header-right{ width:416px; float:right; background:url(images/header-right-m.png) repeat-x; height:51px;}
			.header-right-l{ background:url(images/header-right-l.png) no-repeat left; padding-left:21px; height:51px;}
			.header-right-r{ background:url(images/header-right-r.png) no-repeat right; padding-left:0px; padding-right:17px; height:51px;}
			 
		    .welcome-msg{ padding-top:5px;}
			.welcome-msg li{ float:left; font-size:11px; line-height:18px; color:#679b00; padding-right:4px;}
			.welcome-msg li a{color:#4d4d4d;}
			.welcome-msg .login-last{ padding-left:50px; color:#5c5b5b; font-size:11px; line-height:18px;} 
			.welcome-msg .logintime{color:#5c5b5b; font-size:11px; line-height:18px;}

			.user-info li{ float:left; padding-right:25px;}
			.user-info li a{ font-size:11px; line-height:18px; color:#006f59;}
			.account{ background:url(images/account.png) no-repeat left; padding-left:18px;}
			.user-info .logout a{ background:url(images/logout.png) no-repeat left; padding-left:18px;  color:#cb0000;}
		 
			.user-info .msg a{ background:url(images/msg.png) no-repeat left; padding-left:18px; color:#537c00;}
			.user-info .msg a span{ color:#d94f1e;}
			 
	  #navigation{ width:100%; float:left;  background: url(images/navbg.png) repeat-x; height:42px;}
	 
      #container{ width:100%; margin:auto; clear:both;} 
	    .breadcum{ padding:10px 0px; width:940px; margin:auto; background:url(images/hr.png) repeat-x bottom; padding-bottom:10px; margin-bottom:10px;}
		.breadcum ul li{ float:left; color:#5c8113; font-size:11px; line-height:16px; padding-right:5px;}
		.breadcum ul li a{ color:#d94f1e; font-size:14px; font-weight:bold; }
		
		.dash-board{ float:left; width:425px; padding:15px;_padding:5px;}
		.board-item li{ width:82px; height:82px; background:url(images/dashbrd.png); margin:10px; float:left; text-align:center;  font-size:11px; color:#4c4c4c; }	
		
		.manage a,.my-account a,.upload-file a,.settings a,.my-files a,.rev-stat a,.change-pass a,.user-widget a, .states a{padding-top:40px; height:42px; display:block; width:33px; margin:5px auto 0 auto;}
		
		.manage a{ background:url(images/user_icon.png) center top no-repeat;}
		.upload-file a{ background: url(images/upload_icon.png) center top no-repeat; }		
		.my-files a{ background:  url(images/files_icon.png) center top no-repeat;}
		
		.settings a{ background:  url(images/setting_icon.png) center top no-repeat;}
		.my-account a{ background: url(images/acount_icon.png) center top no-repeat;}
		.change-pass a {background:  url(images/pass_icon.png) center top no-repeat;}
		.user-widget a{background:  url(images/manage_icon.png) center top no-repeat;}
		.states a{background:  url(images/states_icon.png) center top no-repeat;}
		
		
		.spacerleft{ float:left; background:url(images/bar.png) no-repeat left;  width:15px; height:329px ; }
		.conright{ float:left; width:375px; padding:15px; }
		 .cont{ background:#e5e7df; border:1px solid #d4d7ca; padding:15px; width:365px; }
		  .welcome-title{ background:url(images/bottom-border.png) no-repeat bottom; padding-bottom:10px; margin-bottom:10px;}
		  .font2{ font-size:11px; line-height:14px; padding-bottom:15px;}
		  .font3{ font-size:11px; line-height:14px; padding-bottom:15px; color:#739136; font-weight:bold;}
      
	 
	   .dataform ul{ width:800px;  }/*width removable*/
	    .dataform ul li{ float:left; }
	    .txtbox{ border:1px solid #b9bea7; height:20px; margin-right:20px; padding:2px 0 0px 5px;font-size:11px; color:#25a622; background:#f0f5e7 url(images/txtbg.png) repeat-x top;}
	    .f1{ color:#2e682e; font-size:12px; line-height:14px; margin-top:4px; margin-right:5px; width:80px;}
       .txtare{ border:1px solid #b9bea7;  margin-right:20px; margin-top:4px; background:#f0f5e7 url(images/textatre.png) repeat-x top;}
	   .selectbox{ border:1px solid #b9bea7; width:300px; margin-top:4px; background:#f0f5e7 url(images/txtbg.png) repeat-x top; }
       .submitbtn{ background:url(images/submtbtn.png) no-repeat left; padding-left:15px; font-size:12px; color:#fbfbfb; text-transform:uppercase; height:27px; line-height:27px; width:95px; padding-bottom:5px;}
	  
	  .invalid{background:url(images/invalid.png) no-repeat left; height:14px; font-size:12px; line-height:14px; padding-left:24px;color:#db2900; font-weight:bold; }
	  .valid{ background:url(images/valid.png) no-repeat left; height:14px; font-size:12px; line-height:14px; padding-left:24px; color:#25a623; font-weight:bold; }
	  
	 .validbox{ border:1px solid #96ca8f; background:#bcdfb5; width:500px; padding:10px; margin-top:10px; }/*width removable*/
	   .font1{padding:0 30px 10px 24px; font-size:10px; line-height:14px; color:#005d1d;} 
	   .font4{padding:0 30px 10px 24px; font-size:10px; line-height:14px; color:#7f0000;}
	
	 .invalidbox{ border:1px solid #96ca8f; background:#ddbabb; width:500px; padding:10px; margin-top:10px;}/*width removable*/
	 .invdico{ background:url(images/img3.png) no-repeat left top; padding-left:24px; padding-bottom:5px;}
	 .errorico{ background:url(images/error.png) no-repeat left top; padding-left:24px; padding-bottom:5px;}
	 .errorbox{ border:1px solid #96ca8f; background:#e8dda8; width:500px; padding:10px; margin-top:10px;  }/*width removable*/
	
	  
	 .search li{float:left; margin-bottom:20px; line-height:25px;}
		.srchleft{ background:url(images/left_srch.png) no-repeat left; padding-left:25px; height:25px;}
		.srchmid{ background:url(images/mid_srch.png) repeat-x top; height:25px; line-height:25px; width:150px;}
		.srchright{ background:url(images/right_srch.png) no-repeat right; width:7px; height:25px;}  		 
		.textbox{ font-size:11px; color:#000000; width:140px;  background:#ffffff;   border:0px; margin-top:2px;}
	
     .table {width:100%; /*Editable*/background:#c0c7ac;margin:10px auto;}
  	   .thead {background-color:#c9d2b1;color:#3a5800;height:40px; /*Editable*/font-size:12px;font-weight:bold;}
	   .thead th {background-color:#c9d2b1;text-align:center;}
	   .tbody {color:#3a3a3a;}
		.tbody tr td {font-size:11px;text-align:center;	padding:10px;}
		.tfoot tr td {background-color:#c9d2b1; padding:10px;} 
	   .approved{ color:#009203; font-size:11px; background:url(images/active.png) no-repeat right; padding-right:20px; height:13px;}
	   .suspend{ color:#eb0000; font-size:11px; background:url(images/ball.png) no-repeat right; padding-right:20px; height:10px;}
	   .pending{ color:#555555; font-size:11px; background:url(images/watch.png) no-repeat right; padding-right:20px; height:10px;}
		.img{ border:1px solid #99a385; padding:1px; text-align:center; width:45px; height:45px;}
		.col td{ background:#d7e0c4; }
		.col1 td{ background:#e0e0cf; }
		.btn_all{ background:url(images/check.png) no-repeat top; width:77px; height:25px; font-size:11px; color:#ffffff; display: inline-block; padding-bottom:4px;  }
	  
	.res{width:300px; float:left; color:#272727; font-size:11px;}
	 
	.pagination ul li{float: left; list-style:none; padding:0px; margin-right:3px;}
	.pagination ul li a{ font-size:12px; color:#25781e; float: left; list-style:none; display:block; padding:0px 5px;text-decoration:none; font-weight:bold; text-align:center;}
	.pagination a:hover { font-size:12px; color: #fc5836; float: left; list-style:none;display:block; text-decoration:underline;  font-weight:bold;}
	.pagination a.active { font-size:12px; color: #fc5836; float: left; list-style:none;display:block; text-decoration:underline;  font-weight:bold;}
	
	.font5{ color:11px; color:#1b9c1b; font-weight:bold;} 
	.font6{ color:11px; color:#de411b; font-weight:bold;}
	
	.addbtn{ background:url(images/addnewbtn.png) no-repeat; padding-left:30px; width:108px; height:27px; line-height:25px; font-size:12px; font-weight:bold; text-transform:uppercase;color:#fbfbfb; float:left; margin-right:155px;}
	.addbtn a{ color:#fbfbfb;}
	.datatbl{ margin:auto; width:100%; clear:both;}
	.select{ height:20px; border:1px solid #bfbfbf; font-size:11px; color:#2d2d2d;  line-height:20px;  width:140px;  }
	
	 
	.tool{ background:url(images/toolicon.png) no-repeat left; }
	.font7{ font-size:11px;  color:#105a6e; line-height:14px; padding-bottom:10px; padding-left:20px;} 
	
	.inputbox{ margin-top:25px; padding:10px 15px 20px 24px; clear:both;} 
	.input-form{ width:500px; font-size:12px; }
	.input-form li{ float:left; margin-bottom:4px;} 
	.input-box{ width:350px; line-height:20px;}
	.input-label{width:120px; text-align:right; padding-right:10px; } 
	.input-textbox{ border:#cccccc 1px solid; height:19px; background:#f0f5e7 url(images/txtbg.png) repeat-x top; padding:4px 5px 0px 5px; font-size:11px; color:#25a622; }
	.input-file{ border:1px solid #EFEFEF; height:19px; background:#f0f5e7; padding:4px 5px 0px 5px; font-size:11px; color:#25a622; }
	.input-textarea{border:1px solid #b9bea7;  margin-right:20px; padding:2px 0 0px 5px; font-size:11px; color:#25a622; background:#f0f5e7 url(images/textatre.png) repeat-x top;} 
	 
	    
	.comment-box{width:500px; padding:10px 0px; }
	.comment_arrw{ background:url(images/ar.png) no-repeat left; padding-left:12px; float:left; padding-top:10px; height:15px; width:15px;}
	.comment_txt{background:#bad7de; border:1px solid #92bcc7;  margin-left:14px;  font-size:11px; line-height:18px; color:#530c0c; padding:5px;}
	.comment_txt a{ color:#fe6600;}   
	
	.close a{ background:url(images/cross1.png) no-repeat right; padding-right:20px; line-height:35px; margin-right:20px; float: right; color: #993300; font-size:15px;}  
	
	#footer{ background:url(images/footer.png) repeat-x; height:70px; width:100%;}
	.copyright{ color:#f7f7f7; padding-top:18px; font-size:11px; line-height:20px; }
	.copyright a{ color: #DBDBDB; font-weight:bold;}
	.footer-list{ width:300px; margin:auto;}
	.footer-list li{ float:left;}
	.footer-list li a{ font-size:11px; color:#f7f7f7; line-height:18px; }
	.footer-split{ padding:0px 5px; color:#f7f7f7;}
	
	
	/****************/
	
	.search-form{ width:221px; height:25px; background:url(images/search-middle.png) repeat-x;float:left;} 
	.search-form li{ float:left;}
	.srchleft-new{ background:url(images/left-search-l.png) no-repeat left; padding-left:8px; height:25px;}
	.search-text-box{ width:183px; height:20px; padding:3px 5px 0px 0px; _padding:2px 5px 0px 0px;} 
	.go{ background:url(images/right-search-r.png) no-repeat; width:25px; height:25px; display:block; text-indent:-999999px;}
	.search-textbox{ font-size:11px; color:#000000; margin-top:2px; width:180px;}
	
	.show-button {background:url(images/button-show.png) no-repeat; width:76px; height:27px; line-height:20px; padding-bottom:4px; _padding-bottom:3px; color:#ffffff; font-size:11px; text-align:center;}
	.show-button a{color:#ffffff;} 
	.search-header{margin-bottom:10px;}
	
	 
	.valid-header{ padding-bottom:5px;}
	.cross-1{ background:url(images/cross-2.png) no-repeat; width:17px; height:17px;}
	.cross-1 a{width:17px; height:17px; text-indent:-999999px; display:block;} 
 	
	.cross-2{ background:url(images/cross-1.png) no-repeat; width:17px; height:17px;}
	.cross-2 a{width:17px; height:17px; text-indent:-999999px; display:block;}
	
	.cross-3{ background:url(images/cross-3.png) no-repeat; width:17px; height:17px;}
	.cross-3 a{width:17px; height:17px; text-indent:-999999px; display:block;}
	
	
	.big-button{ background: url(images/big-button.png) no-repeat; width:112px; height:26px; color:#ffffff; font-size:11px;  padding-bottom:3px;}
	
	
	
	
